<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addBasic">
		insert into member(id, pass, email) values (#{id},#{pass}, #{email})		
	</insert>
	<insert id="addDetail">
		insert into detail(id) values (#{id})		
	</insert>
	<select id="checkByIdmailAndPass" resultType="java.lang.Integer">
		select count(*) from member where (id=#{idmail} or email=#{idmail})
			 and pass=#{pass, jdbcType=VARCHAR }
	</select>
	<select id="readOneByIdOrEmail" resultType="java.util.HashMap">
		select m.*, d.* from member m join detail d on m.id = d.id
			where (m.id=#{idmail} or m.email=#{idmail})
	</select>
	<select id="readOneById" resultType="java.util.HashMap">
		select m.*, d.* from member m join detail d on m.id = d.id
			where m.id=#{id}
	</select>
	<update id="updateOneDetail">
		update detail set name=#{name}, gender=#{gender}, birth=#{birth}, address=#{address} 
			where id=#{id} 
	</update>
	
	<!-- 프로필 -->
	
	<insert id="addProfile">
		insert into profile values(profile_seq.nextval, #{id}, #{url}, sysdate)
	</insert>
	<select id="readLatestProfileById" resultType="java.util.HashMap">
		select * from (select * from profile where id=#{id} order by regdate desc) where rownum =1
	</select>
	<select id="readAllProfileById" resultType="java.util.HashMap">
		select * from profile where id=#{id} order by regdate desc
	</select>
	
	<!-- 전체회원 -->
	<select id="readAll" resultType="java.util.HashMap">
		select m.*, p.* from member m left join (select id, max(URL) as URL from profile group by id) 
		p on m.id = p.id order by m.id asc
	</select>
	
	<!-- 페이징 변환 -->
	<select id="readSome" resultType="java.util.HashMap">
		select * from (
			select rownum as r, t.* from (
				select m.*, p.URL from member m left join
   					(select id, max(URL) as URL from profile group by id) p on m.id = p.id
					order by m.id asc) t ) where r between #{start} and #{end }
	</select>
	
	<!-- 페이지 바 출력 -->
	<select id="countAll" resultType="java.lang.Integer">
		select count(*) as cnt from member m left join
   			(select id, max(URL) as URL from profile group by id) p on m.id = p.id
				order by m.id asc
	</select>
	


</mapper>













