<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	<insert id="addNew">
		insert into product values(product_seq.nextval,
		#{name}, #{sprice}, #{eprice, jdbcType=NUMERIC},
		#{enddate,jdbcType=DATE})
	</insert>
	<select id="searchBySprice1" resultType="java.util.HashMap">
		select * from product where sprice &lt; #{sprice}
	</select>
	<select id="searchBySprice2" resultType="java.util.HashMap">
		<![CDATA[
			select * from product where sprice < #{sprice} and eprice is not null
		]]>
	</select>
	<select id="searchBySprice" resultType="java.util.HashMap">
		select * from product where sprice &lt; #{sprice}
		<if test="mode != null">
			 and eprice is not null
			 
			 
		</if>
	</select>
	<select id="getAll" resultType="java.util.HashMap">
		select p.enddate-sysdate as gab, p.* from product p
	</select>
	<select id="getOne" resultType="java.util.HashMap">
		select p.enddate-sysdate as gab, p.* from product p where num=#{num}
	</select>
</mapper>




